h2 {
	text-align: center;
}

.carousel .carousel-item {
    height: 400px;
    width: 400px;
}

#searchbutton {
	top: 15px;
	right: 5px;
}

#searchBar {
	right: 10px;
	color: #26c6da;
}

.apiLogo {
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 5px;
}

#headlines,
#activities,
#food,
#hotel {
	text-align: center;
	font-size: 40px;
}

#logo {
	left: 80px;
}

#copyright {
    padding-top: 20px;
}


@media screen and (max-width: 960px) {
	
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
	#logo {
		font-size: 25px;
	}
	#searchbar {
		left: 20px;
	}

	#search {
		padding-left: 0px;
		width: 160px;
	}
}
